<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta 
      name="author"
      content="RightCom Technologies"
      />
    <meta
      name="description"
      content="RightFlow is a people count and emotional analysis software powered by artificial intelligence and a series of machine learning models with the ability to detect and identify human images at varying image quality and lighting conditions."
    />
    <link rel="apple-touch-icon" href="/images/favicons.ico" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fontawesome-all.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>RightCare - Error 404</title>
  </head>
  <body>
      <div class="container w-100 h-100">
        <div class="w-100 mb-4 pb-4 mt-4">
          <a href="/"><img src="/images/logo-medium.png" alt="Logo RightCare" style="width: 10rem;" /></a>
        </div>
        <div class="content-error-page w-100 d-flex flex-column align-items-center justify-content-center mb-4 pb-4">
            <h3>404 - Not found</h3>
            <p>The content you are looking for cannot be found.</p>
            <p><a href="/">Go home</a></p>
        </div>
      </div>
  </body>
</html>
