.dashboard-title {
  padding: 1.5rem 6rem;
  font-size: 2rem;
}
.chart-columns {
  margin: 0 6.2rem 2rem 6.2rem !important;
  .column-chart {
    //max-height: 33.3rem !important;
    padding: 2rem !important;
    padding-bottom: 0 !important;
    > h3 {
      padding-bottom: 1rem;
    }
  }
  .column-chart,
  .column > .column-content {
    border: solid 1px #c8d3d6;
    background-color: $white;
    border-radius: 10px;
    // max-height: 27.5rem;
  }
  .column {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    .column-content-a {
      display: flex;
    }
    .column-content {
      padding: 1rem 2rem;
      margin: 0 1rem;
      margin-bottom: 1rem;
      margin-left: 0;
      img {
        margin-left: auto;
      }
      img.activity-img {
        width: 2.5rem;
        height: 2.5rem;
        border: 1px solid #e3e3e3;
        border-radius: 50%;
        max-height: 3.0625rem;
      }
      p {
        color: $light-secondary;
      }
      h2 {
        text-transform: uppercase;
        font-weight: bold;
        color: $light-secondary;
      }
    }
    .column-content-no {
      display: flex;
      flex-direction: column;
      height: 31.5rem;
      margin-bottom: 0;
      max-height: 33.3rem;
      vertical-align: middle;
      width: auto;
      img {
        width: auto;
        margin: 0 auto;
      }
      p {
        width: auto;
        text-align: center;
      }
    }

    .column-content-o {
      padding: 2rem 1rem;
      margin: 0 1rem;
      text-align: center;
      margin-left: 0;
      // min-height: 22rem;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      border-radius: 0px !important;
      border: none !important;
      border-top: solid 1px #c8d3d6 !important;
      border-left: solid 1px #c8d3d6 !important;
      border-right: solid 1px #c8d3d6 !important;

      .activity-a {
        //flex-grow: 1;
      }
      .activity-b {
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        width: 70%;
        .activity-text {
          font-family: Regular 18px 23px Source Sans Pro;
          letter-spacing: 0;
          color: #4c4c4c;
          opacity: 1;
          text-align: left;
          // display: flex;
          // justify-content: flex-start;
        }
        .activity-time {
          display: flex;
          justify-content: flex-start;
          float: left;
        }
      }
      .activity-c {
        flex-grow: 3;
        .activity-badge {
          background: #9bcefd 0% 0% no-repeat padding-box;
          border-radius: 16px;
          // opacity: 0.12;
          color: #0e5fac;
          padding: 0.3rem 1.5rem;
          float: right;
          margin-top: 0.4rem;
          margin-right: 1rem;
        }
      }
    }

    .content-child-0 {
      border-top-left-radius: 10px !important;
      border-top-right-radius: 10px !important;
    }
    .column-content-o:last-child {
      border-bottom: solid 1px #c8d3d6 !important;
      border-bottom-left-radius: 10px !important;
      border-bottom-right-radius: 10px !important;
    }
  }
  .ticketContainer {
    max-height: 127.5rem !important;
  }
}
.analytics-columns {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0px 0 1px rgba(10, 10, 10, 0.02);
  margin: 0 6.2rem 2rem 6.2rem !important;
  background-color: #fff;
  border-radius: 10px;
  .column {
    padding: 0;
    width: 25% !important;
    .analytics-card-parent {
      width: initial !important;
      max-width: 100% !important;
      margin: 0 !important;
      border-radius: 0;
      box-shadow: none;
    }
    .analytics-card-parent-agent {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    .analytics-card-parent-new-request {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .analytics-card-parent-agent,
    .analytics-card-parent-complete-request,
    .analytics-card-parent-pending-request {
      border-right: 1px solid rgba(10, 10, 10, 0.02);
    }
  }
}

.analytics-card {
  .is-blue-secondary {
    color: #2a89e1;
  }
  .is-secondary {
    width: 89%;
    border-radius: 34px !important;
    font-size: 0.875rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    span {
      color: #fff;
      width: 1.2rem;
      border: 1px solid #2a89e1;
      height: 1.2rem;
      display: flex;
      align-items: center;
      border-radius: 50%;
      justify-content: center;
      background-color: #2a89e1;
      cursor: pointer;
      margin-right: 0.5rem;
    }
    img.calendar-icon,
    img.view-more {
      margin-right: 0.5rem;
    }
    img.view-more {
      margin-left: 0.5rem;
    }
  }
}

@media (max-width: 768px) {
  .column-chart {
    max-height: auto;
    padding: 2rem !important;
    padding-bottom: 0 !important;
    > h3 {
      padding-bottom: 1rem;
    }
  }
}
