.dashboard {
  .search-input {
    border: 0 !important;
    box-shadow: none !important;
  }
}
.chart-dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.modal {
  .modal-background {
    background-color: rgba(10, 10, 10, 0.3);
  }
  .modal-card {
    width: 28.125rem;
    // height: 32rem;
    border-radius: 10px;
    .modal-close-incard {
      display: none;
    }

    .modal-card-head {
      // add border modal
      padding-left: 2rem;
      padding-right: 2rem;

      padding-bottom: 5px !important;
      display: block;
      background-color: $white;
      border-bottom: 0;
      .title-container {
        padding: 1rem 0 1.5rem 0;
        text-align: center;
      }
      .search-box {
        position: relative;
        input {
          padding-left: 3rem;
        }
        img {
          position: absolute;
          left: 1rem;
          top: 0.5rem;
        }
      }

      .search-select {
        padding-top: 2rem;
        padding-bottom: 0.5rem;
        .search-select-text {
          float: left;
        }
        .search-select-check {
          float: right;
          padding-right: 0.5rem;
        }
      }

      .border {
        border-bottom: #c8d3d6 solid 1.4px !important;
      }
    }
    .modal-card-body {
      padding-left: 2rem;
      padding-right: 2rem;

      // min-height: 17rem;
      min-height: auto !important;
    }
    .modal-card-body > div > .menu-list {
      margin-left: 0;
      li {
        list-style-type: none;
        display: flex;
        align-items: center;
        padding: 0.5rem 0;
        margin: 0;
        img {
          width: 2.5rem;
          height: 2.5rem;
          border: 1px solid rgb(227, 227, 227);
          border-radius: 50%;
          max-height: 3.0625rem;
          margin: 0px 0.5rem;
        }
        span.user-name {
          padding: 0 0.5rem;
        }
        span.add-user {
          background-color: $success;
        }
        span.remove-user {
          background-color: $danger;
        }
        span.add-user,
        span.remove-user {
          display: inline-block;
          margin-left: auto;
          border-radius: 50%;
          font-size: 1rem;
          width: 1.2rem;
          color: #fff;
          cursor: pointer;
          text-align: center;
        }
      }
    }
    .modal-card-body > div > .menu-agent-added {
      margin-left: 0;
      li {
        list-style-type: none;
        display: flex;
        align-items: center;
        padding: 0.5rem 0;
        margin: 0;
        img {
          width: 2.5rem;
          height: 2.5rem;
          border: 1px solid rgb(227, 227, 227);
          border-radius: 50%;
          max-height: 3.0625rem;
          margin: 0px 0.5rem;
        }
        span.user-name {
          padding: 0 0.5rem;
        }
        span.add-user {
          background-color: $success;
        }
        span.remove-user {
          background-color: $danger;
        }
        span.add-user,
        span.remove-user {
          display: inline-block;
          margin-left: auto;
          border-radius: 50%;
          font-size: 1rem;
          width: 1.2rem;
          color: #fff;
          cursor: pointer;
          text-align: center;
        }
      }
    }
    .modal-card-foot {
      background-color: $white;
      border-top: 0;
      justify-content: center;
      .button {
        // C$- change;
        // width: 11.1875rem;
        padding: 0 3rem;
        font-size: 1.1rem;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bold;
      }
    }
  }
}

.canvasjs-chart-credit {
  display: none;
}
.LiveActivities-Container {
  background: white;
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  height: 87%;
}
