.dashboard-side-menu {
  position: relative;
}
a.navbar-item,
.navbar-link:hover {
  background-color: transparent !important;
}
.columns {
  .column {
    padding-right: 0;
    flex: 1;
  }
  .dashboard.is-four-fifths,
  .dashboard.is-four-fifths-tablet {
    padding-left: 0;
    background-color: rgb(250, 251, 253);
  }
}
.left-menu-logo-container {
  padding: 1.45rem 0 1.45rem 1.5rem;
  border-bottom: 1px solid $secondary-nav-border;
  display: flex;
  align-items: center;
}
.left-menu-logo-text {
  color: #212121;
  font-size: 1.5rem;
  font-weight: bold;
}
.menu-container {
  padding: 1rem 2rem;
  .menu-label {
    color: $secondary-light;
    display: flex;
    font-weight: bold;
    .more-channel {
      border: 1px solid;
      display: inline-block;
      border-radius: 50%;
      width: 1.5rem;
      text-align: center;
      border-style: dashed;
      margin-left: auto;
      height: 1.5rem;
      padding-top: 0.1rem;
      padding-left: 0.1rem;
      cursor: pointer;
      &:hover {
        background-color: $secondary-light;
        color: $white;
      }
    }
  }
  .no-channel {
    padding: 2rem 0 4rem 0;
    h5 {
      font-size: 1.125rem;
      padding: 1rem 0;
      color: $light-secondary;
    }
  }
  .available-channels {
    padding: 0 0 3rem 0;
    .columns {
      margin-top: 1rem;
      padding-left: 0.8rem;
      .email-icon {
        background-color: $primary;
      }
      .live-icon {
        background-color: $warning;
      }
      .phone-icon {
        background-color: $success;
      }
      .web-icon {
        background-color: $danger;
      }
      .facebook-icon {
        background-color: $facebook;
      }
      .twitter-icon {
        background-color: $twitter;
      }
      .email-icon,
      .live-icon,
      .phone-icon,
      .web-icon,
      .facebook-icon,
      .twitter-icon {
        text-align: center;
        padding-left: 0;
        border-radius: 0.3125rem;
        flex-basis: auto;
        max-width: 3rem;
        max-height: 3rem;
      }
      .col-content {
        padding-top: 0;
        padding-bottom: 0;
        h4 {
          font-weight: 500;
          color: $secondary;
          text-transform: capitalize;
        }
        span {
          color: #9eaaad;
          font-size: 0.8rem;
        }
      }
    }
  }
  .menu-list {
    li > a {
      display: flex;
      color: #4c4c4c;
      padding: 0.7rem 0;
      align-items: center;
      img {
        margin-right: 1.5rem;
      }
      img.channel {
        max-width: 1.5rem;
      }
    }
    li > a:hover {
      background-color: transparent;
      text-decoration: none;
      color: $primary;
      img {
        height: auto;
        max-width: 100%;
      }
      img.channel {
        max-width: 1.5rem;
      }
    }
    li > a.selected {
      background-color: transparent;
      color: $primary;
    }
  }
  .logo-container {
    display: flex;
    position: absolute;
    bottom: 48px;
    left: 20%;
    width: 37%;
    flex-direction: column;
  }
}
