.pagination {
  justify-content: flex-end !important;
}
.head-list-ticket {
  height: 4rem;
  display: flex;
  align-items: center;
  border-top: 1px solid #c8d3d6;
  border-bottom: 1px solid #c8d3d6;
}

.head-list-Title {
  flex: 1;
  font-weight: bold;
  text-align: start;
}

.list-ticket-container {
}
.no-data-contain {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c8d3d6;
  font-weight: bold;
}

.liste-item-contain {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 54px;
  border-bottom: 1px solid #c8d3d6;
}

.previousButton {
  height: 3rem;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  border: 1px solid #c8d3d6;
  background: #ffffff;
  // color: #4C4C4C;
  width: 5rem;
  cursor: pointer;
}
.previousButton:active {
  //-moz-outline-style: none;
  outline: none;
  outline: 0;
}
.previousButton:focus {
  //-moz-outline-style: none;
  outline: none;
  outline: 0;
}
.nextButton:active {
  //-moz-outline-style: none;
  outline: none;
  outline: 0;
}
.nextButton:focus {
  //-moz-outline-style: none;
  outline: none;
  outline: 0;
}
.nextButton {
  width: 5rem;
  height: 3rem;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border: 1px solid #c8d3d6;
  background: #ffffff;
  //  color: #4C4C4C;
  cursor: pointer;
}

.pageNumberbtn {
  height: 3rem;
  width: 2.5rem;
  border: 1px solid #c8d3d6;
  background: #ffffff;
  color: #4c4c4c;
  cursor: pointer;
}
.pageNumberbtn:active {
  //-moz-outline-style: none;
  outline: none;
  outline: 0;
}
.pageNumberbtn:focus {
  //-moz-outline-style: none;
  outline: none;
  outline: 0;
}

.pagination-container {
  display: flex;
  margin: 0 6.2rem 2rem 6.2rem;
  justify-content: flex-end;
}
