.ticketnalytics-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 7.2rem 1rem -0.2rem;
}
.apexcharts-menu-icon {
  display: none !important;
}

.header-indicator {
  display: flex;
  align-items: center;
  margin: 2.2rem 6rem;
}
.css-14jk2my-container {
  width: 57% !important;
}
//Date Filter CSS
.DateInput_input {
  padding: 0 !important;
  font-size: 0px;
  text-align: center;
}
.Apps {
  width: 100% !important;
}
.DateRangePicker {
  width: 100% !important;
}
.DateRangePickerInput__withBorder {
  border: none !important;
  width: 100% !important;
}

.CalendarDay__selected_span {
  color: #4c4c4c !important;
  border: none !important;
}
.CalendarDay__selected_span {
  background: #2196f3b3 !important;
  border: none !important;
}
.CalendarDay__selected {
  background: #0089e1 !important;
  color: #4c4c4c !important;
}
.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: #2196f3b3 !important;
}
.DateRangePickerInput_arrow_svg {
  width: 10px !important;
}
.DateRangePicker_picker__directionLeft {
  left: -420px !important;
}
.chart-dashboard-container {
  .DateRangePicker_picker__directionLeft {
    left: -220px !important;
  }
}
.analytics-card-parent-complete-request {
  .DateRangePicker_picker__directionLeft {
    left: -80px !important;
  }
}
.DateInput {
  width: 45% !important;
}
.is-secondary {
  width: 93% !important;
}
.agentName {
  color: #0089e1;
}
.DateInput_input__focused {
  border-bottom: none;
}

.DateInput_input {
  padding: 0 !important;
  font-size: 11px !important;
  width: 100% !important;
}

//
.analytics-card-parent {
  height: 100% !important;
}
.header-indic-title1 {
  font-weight: 500;
  color: #4c4c4c;
  margin-right: 5px;
}
.header-indic-title2 {
  font-weight: 500;
  color: #94a4be;
  margin-left: 5px;
}
.container-dashboard-ticket {
  position: relative !important;
}
.dashbordticket-column {
  width: 25%;
}

.createTicketCalender {
  margin-top: 0px !important;
  width: 120px;
  display: flex;
  justify-content: space-evenly;
}
.calendar-icon {
  margin-left: 5px !important;
  height: 18px;
  width: 40px;
  flex: 1;
}

.uptriangle {
  width: 0px;
  height: 12px;
  border-radius: 33px;
}
.arrawbtn {
  padding: 0;
  width: 24px;
  height: 22px;
  border-radius: 20px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  display: flex;
  width: 50%;
  margin: auto;
  margin-bottom: 60px;
}

.titledashboard {
  font-weight: bold;
}

.create_ticketbtn {
  color: #0089e1;
  background-color: #0089e14a;
  border: none;
  font-size: 1rem;
  height: 52px;
  width: 19%;
  border-radius: 7px;
  cursor: pointer;
}
input::placeholder {
  font-size: 1rem;
  color: #808080 !important ;
}

.header-create-ticket {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.createTicket {
  width: 45% !important;
  margin-bottom: 30px;
}
.createTicket-large {
  width: 100% !important;
}

.createTicket-div {
  background: #c8d3d621;
  height: 58px;
  width: 45% !important;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-radius: 7px;
}
.css-2b097c-container {
  width: 40%;
}
.section1 {
  display: flex;
  flex-direction: column;
  flex: 2;
  margin: 0;
  border-bottom: 1px solid #c8d3d6;
  border-right: 1px solid #c8d3d6;
}
.tecket-detail {
  flex-direction: row;
  padding: 50px;
}
.customer-text {
  margin-bottom: 30px;
  margin-left: 30px;
  color: #0089e1;
  font-weight: bold;
}

.File-Uplaoded-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-height: 30%;
  overflow: auto;
}
.section2 {
  display: flex;
  flex-direction: column !important;
  flex: 1;
  margin: 0;
  align-items: center;
  padding: 2rem;
}

.upload-file-container {
  width: 100%;
  height: 186px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c8d3d6;
  border-radius: 9px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.createTicket-conaitner {
  height: 975px;
  border: 1px solid #c8d3d6;
}
@media screen and (max-width: 1160px) {
  .createTicket-conaitner {
    height: 1057px;
  }
  .footer-text-list {
    font-size: 0.6rem !important;
  }
}

.MessageTicket-conaitner {
  height: 810px;
  border: 1px solid #c8d3d6;
}

.firstInput-container {
  border-bottom: 1px solid #c8d3d6;
  // height: 300px;
  padding-top: 30px;
}
.secontInput-container {
  padding: 0 2rem;
  height: 56%;
  //display: flex;
  flex-direction: column;
  justify-content: end;
}

.textInputcontainer {
  margin-bottom: 10px;
  margin-top: 20px;
}
.input-search {
  border-radius: 0px !important;
}
.buttonFilter {
  display: flex;
  justify-content: space-between !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-left: none !important;
  width: 42% !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  height: 42px !important;
}

//text editor height

.quill {
  height: 277px;
}

.Submit-ticketbtn {
  color: white;
  background: #0089e1;
  border: none;
  border-radius: 7px;
  padding: 16px;
  width: 200px;
  margin-top: 100px;
  margin-bottom: 100%;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.rdw-editor-wrapper {
  height: 27%;
  max-width: 475px;
  z-index: 0 !important;
}
.css-2b097c-container {
  z-index: 5 !important;
}
.buttonserch {
  height: 42px;
}

.buttonserch {
  background-color: #ffffff;
  border-color: #dbdbdb;
  border-right: none;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}
.massageticket-input-cont {
  display: flex;
  justify-content: space-between;
}
input.display {
  cursor: default !important;
  background: white !important;
}
.display-user-info {
  width: auto;
  border: 1px solid #c8d3d6;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
.display-user-assegne {
  border: 1px solid #c8d3d6;
  border-radius: 20px;
  padding: 10px;
  width: auto !important;
  display: flex;
  align-items: center;
}
.massageticket-container {
  overflow: auto;
}
.massageticket-log {
  margin-right: 5px;
}

.profildetail-contain {
  padding-left: 30px;
  padding-top: 3px;
  width: 100%;
}

.ticket-log-container {
  border: 1px solid #c8d3d6;
  border-radius: 7px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  height: 40%;
  overflow: hidden;
}
//table liste magination
.page-link {
  color: #4c4c4c !important;
  font-weight: 300;
}
.page-item {
  padding: 8px;
  border: 1px solid #e5e5e5;
}
.page-item.active .page-link {
  background: #e5e5e5 !important ;
  // border: none;
}
.page-item.active {
  background: #e5e5e5 !important ;
}
.pagination {
  margin-top: 20px !important;
}

.table-bordered {
  width: 100%;
  thead {
    border-top: 1px solid #e5e5e5 !important ;
    border-left: 1px solid #e5e5e5 !important ;
    border-right: 1px solid #e5e5e5 !important ;
    th {
      padding: 20px 0 20px 10px;
    }
  }
  tbody {
    tr {
      td {
        border-left: 1px solid #e5e5e5 !important ;
        border-bottom: 1px solid #e5e5e5 !important ;
        border-right: 1px solid #e5e5e5 !important ;
        padding-top: 1.2rem !important ;
        padding-left: 1.5rem !important ;
      }
    }
  }
  .selection-cell {
    padding-top: 1.2rem !important ;
    padding-left: 1.5rem !important ;
  }
}

.ticket-log-title {
  height: 20%;
  color: #0089e1;
  font-weight: bold;
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #c8d3d6;
  // flex: 1;
}
.ticketAgent-container {
  width: 100%;
  display: flex;
  align-self: flex-start;
  margin-bottom: 30px;
  align-items: center;
}
.ticketprio {
}

.ticket-log {
  display: flex;
  border-bottom: 1px solid #c8d3d6;

  height: 20%;
  align-items: center;
  cursor: pointer;
  padding: 0 9px;
  // flex:1
}
.ticket-log:hover {
  box-shadow: 0px 3px 5px 1px #c8d3d6;
}

.activity-date {
  color: #4c4c4c;
  font-size: 11px;
}
.ticket-log-profile {
  padding: 0 15px;
}
.profilepicture {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  margin-right: 30px;
}
.profilepicture-assignee {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin-right: 8px;
}
.createTicket-div-text {
  color: #838383;
}
.profilepicture-Created {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-right: 5px;
}
.last {
  border-bottom: none;
}
.clode_ticketbtn {
  color: #ffffff;
  background-color: #eb5923;
  border: none;
  font-size: 1rem;
  height: 3rem;
  border-radius: 7px;
  width: 100%;
  cursor: pointer;
}
.list-ticket-btn {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: none;
  margin-right: 10px;
}
.list-ticket-textpriority {
  // color: #eb5923;
  height: 33px;
  background: #eb592321;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 64px;
  font-weight: 500;
  margin: 0 1rem;
}
.ticket-select-priority {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.ticket-select-status {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: none;
  margin-right: 10px;
}
.ticketinfos {
  // margin-left: 5%;
  margin-right: 0.5rem;
  width: 55%;
}
.ticketkeys {
  width: 34%;
}
.displayInput {
  width: auto;
  padding: 10px;
  border-radius: 7px;
  background: #c8d3d6;
  margin-bottom: 0;
}

.profil-name {
  font-weight: bold;
}
.creationDate {
  color: #4c4c4c;
}
.ticketTitle {
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.title-manageticket {
  display: flex;
  justify-content: center;
  align-items: center;
}
.statistic-ticket {
  font-size: 3.12rem;
  margin-right: 5px;
}

.dashet-line {
  border-top: 1px dashed #c8d3d6;
  width: 100%;
  height: 1px;
  margin-bottom: 10px;
}
.text-blue {
  margin-left: 0;
}
.profil-contain {
  width: 100%;
}

.selectPriority {
  padding: 10px;
  border-radius: 7px;
}

.selectstatus {
  padding: 10px;
  border-radius: 7px;
}
.priorityindicator {
  height: 8px;
  width: 8px;
  border-radius: 8px;
}

//modal

.modalSerach {
  height: 280px;
  width: 500px;
  border: 1px solid #c8d3d6;
  position: absolute;
  right: 6%;
  top: 14%;
  background: white;
  border-radius: 7px;
  flex-direction: column;
  padding: 10px;
  z-index: 23;

  .modalSerachSetting {
    display: flex;
    width: 90%;
    justify-content: space-between;
    flex: 1;
    align-items: center;
  }
}
.priorityContainer {
  width: 100%;
  border-bottom: 1px solid #c8d3d6;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.statusContainer {
  width: 100%;
  border-bottom: 1px solid #c8d3d6;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.CategorieContainer {
  width: 100%;
  border-bottom: 1px solid #c8d3d6;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.text-filter {
  width: 75px;
  margin-right: 14px;
}

.messagedisplay-btn {
  border: 1px solid;
  /* padding: 0px; */
  border-radius: 15px;
  cursor: pointer;
  height: 21px;
  width: 39px;
}
.clear-Filter {
  color: #eb5923;
  cursor: pointer;
}
//toolbar option
.fontSizetoolbar,
.indenttoolbar,
.outdenttoolbar,
.linktoolbar,
.strikethroughtoolbar,
.monospacetoolbar,
.fontFamilytoolbar,
.emojitoolbar,
.imagetoolbar,
.removetoolbar,
.embeddedtoolbar,
.blockTypetoolbar {
  display: none;
}
.DraftEditor-content {
  height: 100px !important;
}

.ticket-log-profile {
}

.profilepicture-log {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin-right: 13px;
}

.assign-text-modal {
  height: 426px;
  width: 19.5rem;
  border: 1px solid #c8d3d6;
  position: absolute;
  top: 35px;
  left: -60px;
  background: white;
  border-radius: 7px;
  flex-direction: column;
  padding: 10px;
  z-index: 23;
  align-items: center;
  box-shadow: 0px 3px 20px #00000029;
  opacity: 1;
}
.assign-modal-title {
  font-size: 1.3rem !important;
  font-weight: bold;
  margin-top: 5px;
}

.assegnee-Container {
  width: 100%;
  display: flex;
  margin-top: 3rem;
}
.assign-text-Contain {
  display: flex;
  align-items: center;
}

.assign-agent-Container {
  position: relative;
}

.assign-agent-btn {
  display: flex;
  font-size: 2rem;
  background: #ebf4f7;
  color: #657288;
  width: 32px;
  height: 32px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-bottom: 4px;
}
.menu-list-ticket {
  margin-left: 0;
  li {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    margin: 0;
    img {
      width: 2.5rem;
      height: 2.5rem;
      border: 1px solid rgb(227, 227, 227);
      border-radius: 50%;
      max-height: 3.0625rem;
      margin: 0px 0.5rem;
    }
    span.user-name {
      padding: 0 0.5rem;
    }
    span.add-user {
      background-color: $success;
    }
    span.remove-user {
      background-color: $danger;
    }
    span.add-user,
    span.remove-user {
      display: inline-block;
      margin-left: auto;
      border-radius: 50%;
      font-size: 1rem;
      width: 1.2rem;
      color: #fff;
      cursor: pointer;
      text-align: center;
    }
  }
}

.assign-self {
  // width: 84%;
  padding: 1px 6px !important;
  margin-bottom: 10px !important;
  background: #c8d3d6;
  border-radius: 30px;
}
.search-box {
  position: relative;
  input {
    padding-left: 3rem;
  }
  img {
    position: absolute;
    left: 1rem;
    top: 0.5rem;
  }
}
.assign-search {
  width: 90% !important ;
  margin-bottom: 10px;
}

.assign-modal-footer {
  width: 50%;
  margin-top: 10px;
}

.css-1okebmr-indicatorSeparator {
  display: none !important;
}
.resseign-messageTick {
  font-size: 12px;
  color: #0089e1;
  margin-left: 10pxπ;
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 1280px) {
  .css-2b097c-container {
    width: 55%;
  }
  .display-user-info {
    padding: 3px;
  }
  .custumers-detail {
    font-size: 0.8rem;
  }
  .tecket-detail {
    padding: 23px;
  }
  .display-user-assegne {
    padding: 5px;
  }
}

// design BootstrapTable : pagination
.react-bootstrap-table-page-btns-ul {
  li {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  li:first-child {
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
  }
  li:last-child {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
  }
}

.button-trash-table {
  cursor: pointer;
  margin-left: 1rem;
}

.img-trash {
  cursor: pointer;
}

// refact design - Table Bootstrap
.table-bordered tbody tr td:nth-child(5) {
  border-left: 1px solid #e5e5e5 !important;
  border-bottom: 1px solid #e5e5e5 !important;
  border-right: 1px solid #e5e5e5 !important;
  text-align: center;
}
.table-bordered tbody tr td:last-child {
  border-left: 1px solid #e5e5e5 !important;
  border-bottom: 1px solid #e5e5e5 !important;
  border-right: 1px solid #e5e5e5 !important;
  text-align: center;
}

// refact desing - Quill Editor
.rdw-editor-toolbar {
  margin-bottom: 0 !important;
  border: solid 1px #c8d3d6;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.rdw-editor-main {
  height: 172px;
  border: solid 1px #c8d3d6;
  border-top: none;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.DraftEditor-editorContainer {
  background-color: rgba(255, 255, 255, 0);
  border-left: 0.1px solid transparent;
  position: relative;
  z-index: 1;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

// refact desing
.display-input {
  display: flex;
  /* flex-direction: row; */
  /* width: 100%; */
  /* justify-content: space-around; */
  /* align-items: center; */
  margin-bottom: 2rem;
  flex-wrap: wrap;

  .div-input {
    width: 44%;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    .alert-danger {
      color: #eb5923;
    }

    input {
    }
  }
}

/** CSS upload File */
._react_fileupload_form_content {
  div {
    // bouton de selection de fichier
    // display: none;
    input[type="file"] {
      // bouton de validation
      background-color: #fff !important;
      cursor: pointer !important;
      padding: 1rem 0;
    }
  }
  input[type="submit"] {
    // bouton de validation
    background-color: rgb(243, 243, 243) !important;
    border-radius: 5px !important;
    width: 100% !important;
    height: 2rem !important;
    cursor: pointer !important;
  }
}

._react_fileupload_progress_content > div {
  height: 20px !important;
  margin-top: 10px;
  width: 400px;
  float: left;
  overflow: hidden;
  background-color: rgb(245, 245, 245);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px inset;
}
._react_fileupload_progress_bar {
  float: left;
  width: 3%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: rgb(42, 149, 236) !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px -1px 0px inset;
  transition: width 0.6s ease 0s;
}
._react_fileupload_progress_cancel {
  // margin-top: 5px;
  // -webkit-appearance: none;
  // padding: 0px;
  // cursor: pointer;
  // background: 0px 0px;
  // border: 0px;
  // float: left;
  // font-size: 21px;
  // font-weight: 700;
  // line-height: 1;
  // color: rgb(0, 0, 0);
  // text-shadow: rgb(255, 255, 255) 0px 1px 0px;
  // opacity: 0.2;

  display: none; // bouton x, pour supprimer
}
._react_fileupload_progress_content {
  div:first-child {
    display: block;
  }
  div:last-child {
    // display: none;
    span {
      // display: none; // text status
    }
  }
}

//FOOTER
.footer-container {
  display: flex;
  border: 1px solid #c8d3d6;
  margin: 0 6.2rem 2rem 6.2rem !important;
  border-radius: 11px;
  background: white;
  justify-content: space-between;
  height: 80px;
  padding-left: 2%;
}

.footer-list {
  width: 50%;
  display: flex;
  align-items: center;
}
.footer-logo-container {
  display: flex;
  align-items: center;
  margin-right: 33px;
  justify-content: flex-end;
  width: 30%;
}

.footer-text-list {
  font-size: 0.7rem;
  color: #808080;
  cursor: pointer;
  margin-right: 2%;
}

.is-secondairy-test {
  width: 56% !important;
}
.calender-Cont {
  display: flex !important;
  width: 96% !important;
}
.no-padding {
  padding: 2px !important;
  width: 28%;
}
.datapick-chartDatas {
  margin-bottom: 30px;
  width: 46%;
  border-radius: 20px !important;
}
// input .DateInput_input .DateInput_input_1::-webkit-input-placeholder {
//   color: orange;
// }

input.DateInput_input::placeholder {
  //color: red !important;
  font-size: 11px !important ;
}
.LiveActivities-Container {
  border-radius: 13px;
}
//Delete infos button from calender
.DayPickerKeyboardShortcuts_show__bottomRight {
  display: none !important;
}

/** ** */
